@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300,300italic);

body{
	height:95vh;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
header{
	width: 100%;
}
article{
	height: 550px;
}
legend{
	 color: #666666;
	margin: 0 5%;
}
h1{
	font-size: 25px;
}
a{
	color:#2185C5;
	text-decoration: none;
}
li{
	text-align: center;
}
form {
    display: table;
    padding: 19px;
}
footer{
	font-size: 13px;
}
input{
	border:medium none solid grey;
}
label, input{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
input:required{
	box-shadow:0px 0px 2px #7ECEFD inset;
}
.boton-sesion{
	margin: 3% auto;
	width: 50%;
}
.borde-gris{
	border:1px #e5e5e5 solid;
}
.borde-gris-rayitas{
	border:2px dashed #e5e5e5;
}
.buscar{
	position: relative;
}
.buscar input{
	height: 30px;
	width: 99.5%;
}
.buscar input[placeholder]:hover{
    box-shadow: 0 0 2px #808080 inset;
}
.buscar input[placeholder] {
    color: #666666;
    padding-left: 8px;
}
.buscar button{
	height: 29px;
	position: absolute;
    right: 1%;
    top: 1px;
    z-index: 2;
}
.derecha-grande {
    float: right;
    width: 72%;
}
.degradado{
	background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
}
.enlinea li{
	display: inline-block;
	position: relative;
}
.enlinea li:hover{
	background: #e5e5e5;
	transition:0.5s;
}
.enlinea span{
	left: 35%;
	position: absolute;
	top:35%;
}
.entabla{
	display: flex;
}
.empleado{
	display: inline-block;
	width: 45%;
}
.formulario-inicio{
	padding: 0 10%;
}
.formulario-inicio label,.formulario-inicio input{
    height: 25px;
    margin: 5px;
    width: 90%;
}
.izquierda-peque{
	height: 200px;
	width: 26%;
}
.letragordita{
	font-weight: bold;
}
.letragrande{
	font-size: 35px;
}
.linea-abajo{
	border-bottom: 2px solid grey;
}
.nav-principal{
	height: 70px; 	
	width: 100%;
}
.masmargin{
	margin: 25px 5px;
}
.mayor{
	margin: 0 0.5%;
	width: 65%;
}
.menores{
	width: 24%;
}
.muy-peque{
	height: 50px;
	margin: 5px 0;
}
.parrafo{
	margin: 0.5%;
}
.redondito{
	border-radius: 5%;
}
.recordar{
	height: 35px;
    margin: 0 auto;
    width: 60%;
}
.recordar input{
	float: left;
    height: 19px;
    width: 20%;
}
.recordar label{
	float: right;
	width: 65%;
}
.sombra{
	box-shadow: 3px 3px 0 grey;
}
.todo{
	width: 95%;
	margin:0.5% 2.5%;
}
.titulo-sesion{
	margin:5% auto 10%;
	width: 50%; 
}
.todoalto{
	height: 100%;
}
.palaizquierda{
	float: right;
}
/*
3E454C
FF7F66
*/