		<footer class="todo">
			<p>MDI cc <small>2013 - 2016</small></p>
		</footer>
		<script src="/publico/bower/jQuery/dist/jquery.min.js"></script>
		<script src="/publico/js/madre.js"></script>
	</main>
</body>
</html>