<fieldset class="borde-gris redondito">
	<legend>
	LogIn
	</legend>
	<h1 class="titulo-sesion">Inicie sesión</h1>
	<form method="post" action="" class="formulario-inicio">
		<input type="text" name="usuario" placeholder="usuario">
		<input type="password" name="contraseña" placeholder="contraseña">
		<div class="recordar">
			<input type="checkbox"> <label for="recordar">recordar</label>
		</div>
		<a href="/recuperarc">¿olvidaste tú contraseña?</a>
		<input type="submit" class="boton-sesion borde-gris sombra" value="Enviar">
	</form>
</fieldset>