<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bodegasa</title>
	<link rel="stylesheet" href="/publico/css/reinicio.css">
	<link rel="stylesheet" href="/publico/css/madre.css">
</head>
<body>
	<header class="todo">
		<nav class="entabla nav-principal linea-abajo">
		<div>
			<a href="/"><h2 class="letragordita letragrande">Manejador de inventario</h2></a>
		</div>
			<ul class="enlinea mayor ">
				<li class="menores todoalto"><span><a href="/usuarios">Usuarios</a></span></li>
				<li class="menores todoalto"><span><a href="/bodegas">Bodega</a></span></li>
				<li class="menores todoalto"><span><a href="/historiales">Historial</a></span></li>
				<li class="menores todoalto"><span><a href="/total">Total P.</a></span></li>
			</ul>
		</nav>
	</header>
	<article class="todo">
		<section class="menores columna-izquierda">
			
			<div id="links2" class="productos todo">
				<lu >
					<li><a class="sombratexto" href="#">Nuevo</a></li>
					<li><a class="sombratexto" href="#">Eliminar</a></li>
					<li><a class="sombratexto" href="#">Liste</a></li>
				</lu>
			</div>
		</section>
		<div id="lienzo" class="todo todoalto">
			
		</div>
	</article>
	<script src="/publico/js/jquery-1.9.1.min.js"></script>
	<script src="/publico/js/madre.js"></script>
</body>
</html>