<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comprar</title>
	<link rel="stylesheet" href="/publico/css/reinicio.css">
	<link rel="stylesheet" href="/publico/css/madre.css">
</head>
<body>
	<article class="todo entabla">
		<section class="">
			<p>obtenga una semana de pruba </p>
			<p>aqui</p>
			<fieldset class="menores borde-gris-rayitas redondito">
				<legend class="masmargin">Registro:</legend>
				<form method="Post" action="/comprar">
					<label for="nombre">nombre</label>
					<input type="text" name="nombre" id="nombre" placeholder="nombre" required>
					<label for="correo">correo</label>
					<input type="email" name="correo" id="correo" placeholder="correo@correo.com" required>
					<label for="contraseña">contraseña</label>
					<input type="password" name="contraseña" id="contraseña" required>
					<label for="confirmecontraseña">contraseña</label>
					<input type="password" name="confirmecontraseña" id="confirmecontraseña" required>
					<input type="submit" class="borde-gris sombra" value="Enviar">	
				</form>
			</fieldset>
		</section>
		<section>
			<div>
				<p>compre a</p>
				<p>un chillion de dollares</p>
			</div>
		</section>
	</article>
	<footer class="todo"></footer>
</body>
</html>