<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/publico/css/reinicio.css">
	<link rel="stylesheet" href="/publico/css/madre.css">
</head>
<body>
	<article class="todo">
		<nav class="nav-principal">
			<a href="/"><h1 class="letragordita letragrande">Manejador de inventario</h1></a> 
			<ul class="menores">
				<li><a href="/comprar">comprar</a></li>
			</ul>
		</nav>
		<section class="derecha-grande">	
			<p class="parrafo">
				El manejador de inventario te ayuda con muchas de tus tareas habituales de organización y manejo de usuarios y por supuesto todo lo relacionado control de capital.
			</p>
		</section>
		<section class="izquierda-peque">
			<fieldset class="borde-gris redondito">
				<legend>
				LogIn
				</legend>
				<h1 class="titulo-sesion">Inicie sesión</h1>
			<form method="post" action="" class="formulario-inicio">
				<input type="text" name="usuario" placeholder="usuario">
				<input type="password" name="contraseña" placeholder="contraseña">
				<div class="recordar">
					<input type="checkbox"> <label for="recordar">recordar</label>
				</div>
				<a href="/recuperarc">¿olvidaste tú contraseña?</a>
				<input type="submit" class="boton-sesion borde-gris sombra" value="Enviar">
			</form>
			</fieldset>
		</section>
	</article>
	<footer class="todo">
		<p>Manejador de inventarios no se hace responsable de su mal uso tenga en cuenta las políticas de uso y de las políticas de privacidad
		Desarrollado por Brian Esteban Bustos Baquero 2013 todos los derechos reservados © </p>
	</footer>
	<script src="/publico/js/jquery-1.9.1.min.js"></script>
	<script src="/publico/js/madre.js"></script>
</body>
</html>