<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Usuarios</title>
	<link rel="stylesheet" href="/publico/css/reinicio.css">
	<link rel="stylesheet" href="/publico/css/madre.css">
</head>
<body>
	<header class="todo">
		<nav class="entabla nav-principal linea-abajo">
		<div>
			<a href="/"><h2 class="letragordita letragrande">Manejador de inventario</h2></a>
		</div>
			<ul class="enlinea mayor ">
				<li class="menores todoalto"><span><a href="/usuarios">Usuarios</a></span></li>
				<li class="menores todoalto"><span><a href="/bodegas">Bodega</a></span></li>
				<li class="menores todoalto"><span><a href="/historiales">Historial</a></span></li>
				<li class="menores todoalto"><span><a href="/total">Total P.</a></span></li>
			</ul>
		</nav>
	</header>
	<article class="entabla todo">
		<section id="lienzo" class="mayor todoalto borde-gris">
			
		</section>
		<section id="links" class="menores palaizquierda">
		<div class="buscar">
				<input type="text" placeholder="buscar" class="borde-gris">
				<button type="submit" class="redondito borde-gris" id="buscar">Busca</button>
		</div>
		<div class="muy-peque">
			<ul>
				<li><a href="#">Ingresar</a></li>
				<li><a href="#">Eliminar</a></li>
			</ul>
		<button id="listar" class="borde-gris redondito">Listar</button>
		</div>
		</section>
	</article>
	<script src="/publico/js/jquery-1.9.1.min.js"></script>
	<script src="/publico/js/madre.js"></script>
</body> 
</html>