<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Abministrador</title>
	<link rel="stylesheet" href="/publico/css/reinicio.css">
	<link rel="stylesheet" href="/publico/css/madre.css">
</head>
<body>
	<header class="todo">
		<nav class="entabla nav-principal linea-abajo">
		<div>
			<a href="/"><h2 class="letragordita letragrande">Manejador de inventario</h2></a>
		</div>
			<ul class="enlinea mayor">
				<li class="menores todoalto"><span><a href="/usuarios">Usuarios</a></span></li>
				<li class="menores todoalto"><span><a href="">Bodega</a></span></li>
				<li class="menores todoalto"><span><a href="">Historial</a></span></li>
				<li class="menores todoalto"><span><a href="">Total P.</a></span></li>
			</ul>
		</nav>
	</header>
	<article class="todo">
		<section>
		<h2>Bienvenido </h2>
		</section>
	</article>
	<script src="/publico/js/jquery-1.9.1.min.js"></script>
	<script src="/publico/js/madre.js"></script>
</body>
</html>