<%- include('../componentes/header') %>
	<article class="todo">
		<nav class="nav-principal">
			<a href="/"><h1 class="letragordita letragrande">Manejador de inventario</h1></a> 
			<ul class="menores">
				<li><a href="/comprar">comprar</a></li>
			</ul>
		</nav>
		<section class="derecha-grande">	
			<p class="parrafo">
				El manejador de inventario te ayuda con muchas de tus tareas habituales de organización y manejo de usuarios y por supuesto todo lo relacionado control de capital.
			</p>
		</section>
		<section class="izquierda-peque">

		<%- include('../componentes/formularioIngreso') %>
		</section>
	</article>
<%- include('../componentes/footer') %>
